*{
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
}

.header img {
  max-width: 200px;
  height: auto;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filters-container .selected_Generation,
.filters-container .selected_Type,
.filters-container .input-search {
  margin: 10px; 
}

@media screen and (max-width: 500px) {
  .filters-container .selected_Generation,
  .filters-container .selected_Type,
  .filters-container .dropdown {
    width: 95%; 
  }
}

.input-search {
  position: relative;
  height: 50px;
  background: #F5F6F6;
  border-radius: 5px;
  margin: 0 20px;
}

.input-search input {
  height: 100%;
  width:40%;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  .filters-container {
    flex-direction: column; 
    align-items: flex-start;
  }

}

.search-button{
  position: absolute;
  top: 15px;
  left: 25px;
  width: 20px;
  height: auto;
}

.HeadText{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
  color: #707070; 
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  max-height: 80%;
  overflow: auto; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.modal-content svg{
  margin-left: 100%;
  transform: translate(-100%);
  cursor: pointer;
  }
  .modal-content img{
      cursor: pointer;
  }

.card img{
  width: 275px;
  height: 300px;
}

.flag_img{
  width: 40px;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.resetFilters {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  margin: 10px 20px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resetFilters:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.modalPokemonImg{
  width: 200px;
  height: auto;
}

.modalEvolvedFromPokemonImg{
  width: 200px;
  height: auto;
}

.modalEvolvedToPokemonImg {
  width: 200px;
  height: auto;
}

.ModalPokemonInfos {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 200px) and (max-width: 600px) {
  
  .dropdown{
    width: 10%;
    margin: 0 auto;
  }

  .filters-container {
    text-align: center; /* Ajout de cette propriété pour centrer le contenu */
  }

  .dropdown-btn {
    width: 10%;
    display: inline-block; /* Ajout de cette propriété pour traiter le bouton comme un bloc en ligne */
  }

  .flag_img {
    width: 10%;
    margin: 0 auto;
  }

  .resetFilters {
    width: 60%;
    margin: 0 auto;
  }

  .input-search {
    width: 95%;
    margin: 0 auto;
  }
}

.header-modal{
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

.ModalPokemonInfos{
  margin-top: 2vw;
}

.pokemon-id-modal{
  color: #262626;
}

.type-modal-container{
  display: flex;
  flex-wrap: wrap;
}

.type-container {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

.type-container img {
  width: 30px;
  height: auto; 
  margin-right: 5px; 
}

.pokemon-name-modal{
  color: white;
  font-weight: 700;
  margin-top: -1.2vw;
  font-size: 32px;
  margin-bottom: -0.8vw;
}

.back-btn-modal {
  background: none; 
  border: none; 
  color: white; 
  font-size: 24px;
}

.back-btn-modal:hover {
  opacity: 0.8; 
  cursor: pointer;
}

.infos-pokemon-body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  height: 100%;
}

.infos-pokemon-body p {
  margin: 0 10px; 
}

.stats-pokemon {
  text-align: center;
  margin-top: 1vw;
}

.stats-pokemon p {
  margin: 0;
}

.stats-pokemon ul {
  list-style: none; 
  padding: 0; 
}

.stats-pokemon li {
  margin: 5px 0;
}

/* Conteneur pour les informations d'évolution centrées */
.evolution-section {
  text-align: center;
}

/* Style pour le titre des évolutions */
.evolution-section h3 {
  margin: 0; /* Supprime la marge par défaut */
}

/* Style pour la chaîne d'évolution */
.evolution-chain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
}

/* Style pour chaque élément d'évolution */
.evolution-chain div {
  margin: 10px; /* Ajoute un espacement autour de chaque élément */
}

/* Style pour l'image d'évolution */
.modalEvolvedFromPokemonImg,
.modalEvolvedToPokemonImg {
  width: 80px; /* Ajustez la largeur de l'image selon vos besoins */
  height: auto; /* Assurez-vous que la hauteur s'ajuste en proportion */
}

/* Style pour le niveau d'évolution */
.evolution-chain p {
  margin: 0; /* Supprime la marge par défaut */
}

/* Ajoutez des styles spécifiques pour les petits écrans (mobiles) */
@media only screen and (max-width: 800px) {
  .header-modal {
    flex-direction: column; /* Affichez les éléments en colonne */
  }

  .modalPokemonImg {
    margin-bottom: 10px; /* Ajoutez de l'espace entre l'image et l'ID sur mobile */
  }

  .ModalPokemonInfos {
    text-align: center; /* Centrez le texte sur mobile */
  }

  .pokemon-id-modal,
  .pokemon-name-modal {
    margin-bottom: 5px; /* Ajoutez de l'espace entre l'ID et le nom sur mobile */
  }

  .type-modal-container {
    display: flex;
    flex-direction: column; /* Affichez les types en colonne sur mobile */
  }

  .type-container {
    margin-bottom: 5px; /* Ajoutez de l'espace entre les types sur mobile */
  }
}
